body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0; 
    color: black;
    margin: 20px; 
}

.container {
    max-width: 500px; 
    margin: 30px auto;
    background-color: #e0ee1d53;
    padding: 20px; 
    border-radius: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h3 {
    color: #272d0152;
}

.container:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 10px rgba(145, 183, 40, 0.972);
}

.card:hover {
    transform: scale(1.15);
}

img {
    max-width: 200px; 
    height: auto;
    margin: 10px auto; 
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9ca90c35;
    color: black;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #82940b52; 
}

#logo-pequena {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .container {
      flex-direction: column;
    }
    .card{
      width: 90%;
      min-width: 90%;
    }
  }